# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.ipynb_checkpoints/

# VS Code
.vscode/

# Data & outputs
data/raw/
data/external/*
!data/external/becl_lemma.tsv
data/processed/*
!data/processed/verb_inventory_pruned_particles.json
!data/processed/clause_verb_whitelists.json
!data/processed/clause_verb_blocklist.json
!data/processed/freq_blimp_xtail_zipf1_2-2_0_generated.jsonl
!data/processed/freq_blimp_tail_zipf2_2-3_0_generated.jsonl
!data/processed/freq_blimp_head_zipf3_6-5_0_generated.jsonl
!data/processed/blimp_original.jsonl
results/
.cache/
logs/

# OS
.DS_Store

# Environment
.env
venv/
.venv/
blimp_venv/
.envrc

# Misc
*.bak
*.tmp
*.swp
*.sh

# Jupyter
.ipynb_checkpoints/
*.ipynb
